/**
 * Admin Styles for WooCommerce Invoice PDF
 */

/* Invoice action button in order list */
a.button.wc-action-button.wc-action-button-download_invoice.download_invoice:after {
    font-family: 'WooCommerce';
    content: '\e026';
    color: #2171b1;
    font-size: 18px;
    margin-top: -2px !important;
}

a.button.wc-action-button.wc-action-button-download_invoice.download_invoice:hover:after {
    color: #135e96;
}
